.content {
  width: 700px;
  margin: 0 auto;
}

.todo-area {
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.todo-area-title {
  margin: 0px 0px 0px;
  color: #4f80eb;
}

.todo-ul {
  padding-inline-start: 0px;
  list-style: none;
}

.todo-li {
  margin: 2rem 2rem 2rem 0px;
  padding: 8px 10px;
  border-bottom: 1px solid #d1d1d1;
  list-style: none;
  display: flex;
  justify-content: space-between;
}